Bad.zip
testGraphs/
testFiles/
target/
out/
lib/
importFiles/
.idea/
leftovers/
OverlapComponentProg/*.o
OverlapComponentProg/main
graphs/
logs/
FP_to_DMD/build/
MD/build/
OverlapComponentProg/doNotDelete.txt
.idea.zip
DCEdit.iml
DiCographEditing.iml
