Bad.zip
testGraphs/
testFiles/
target/
out/
lib/
importFiles/
.idea/
leftovers/
OverlapComponentProg/gen.o
OverlapComponentProg/main
OverlapComponentProg/main.o
OverlapComponentProg/overlap.o
OverlapComponentProg/test.o
